.navigate-book {
    padding: 40px 0;

    .container {
        width: 90%;
        margin: 0 auto;

        .navigate-one {
            display: flex;
            @media (max-width: 1000px) {
                flex-direction: column;
            }
        }

        .navigate-book__img {
            max-width: 500px;
            width: 100%;
            margin-right: 5%;

            @media (max-width: 1000px) {
                margin: 0 auto;
            }
        }

        .navigate-book__information {
            width: 100%;
            .navigate-book_author {
                margin-top: 10px;
            }
            .navigate-book_zanr {
                margin-top: 10px;
            }

            .navigate-book_anotation {
                margin-bottom: 20px;
            }

            .inputs-weight {
                margin-top: 30px;
            }

            .book-item__footer {
                margin-top: 30px;
                display: flex;
                justify-content: stretch;
                margin-bottom: 60px;
            }
        }
    }
}
